<settings>
    <!-- http://central.sonatype.org/pages/apache-maven.html -->
    <servers>
        <server>
            <!-- Maven Central Deployment -->
            <id>ossrh</id>
            <!-- travis encrypt -r olibye/jmock-library "SONATYPE_USERNAME=username" -->
            <username>${env.SONATYPE_USERNAME}</username>
            <!-- travis encrypt -r olibye/jmock-library "SONATYPE_PASSWORD=password" -->
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>
</settings>