/*---------------------------------------------------------------------------
 *  Two- and three-column layout
 */

#banner {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 91px;
}

#left {
    position: absolute;
    z-index: 2;
    left: 8px;
    width: 184px;
    top: 100px;
    bottom: 8px;
    margin: 0px;
    padding: 0px;
}

#right {
    position: absolute;
    z-index: 1;
    right: 8px;
    width: 184px;
    top: 100px;
    bottom: 8px;
    margin: 0px;
    padding: 0px;
}

.Content3Column {
    position: absolute;
    top: 100px;
    bottom: 8px;
    left: 208px;
    right: 216px;
}

.Content2Column {
    position: absolute;
    top: 100px;
    bottom: 8px;
    left: 208px;
    right: 16px;
}

#content {
    z-index: 3;
    margin: 0px;
    border: none;
    padding-bottom: 8px;
}


/*---------------------------------------------------------------------------
 *  Default element styles
 */

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    
    background-color: white;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-weight: normal;
}

a:link { color: #00a; }
a:active { color: red; }
a:hover { color: red; }
a:visited { color: black; }

img {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

p {
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

td {
    font-size: 13px;
}

ul, ol {
    border: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}


/*---------------------------------------------------------------------------
 *  Page banner
 */

#banner {
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid #aaf;
    padding: 0px;
    background-color: #e0e0f0;
    color: #006;
    vertical-align: bottom;
}

#banner a { text-decoration: none; }
#banner a:visited { color: #00a; }
#banner a:hover { color: red; }
#banner a:active { color: red; }

#logo {
    position: absolute;
    top: 5px;
    left: 8px;
}

#versions {
    position: absolute;
    width: auto;
    right: 0px;
    top: 0px;
    margin: 8px;
    font-weight: normal;
}

/*---------------------------------------------------------------------------
 *  Page content
 */

#content {
    margin: 0px;    
    background-color: white;
    color: black;
}

#content h1 {
    width: 100%;
    font-size: 18px;
    background-color: #006;
    color: white;
    padding: 2px;
    padding-left: 6px;
    margin-top: 24px;
    margin-bottom: 12px;
}

#content .FirstChild {  /* IE doesn't understand first-child pseudoelement */
    margin-top: 0px;
}

#content a { text-decoration: underline; }
#content a:link { color: #006; }
#content a:visited { color: #006; }
#content a:active { color: red; }
#content a:hover { color: red; }

#content h2 {
    margin-top: 24px;
    margin-bottom: 16px;    
    font-size: 15px;
    font-weight: bold;
}

#content li {
    margin-bottom: 6px;
}

#content table {
    width: 100%;
}

#content th {
    background-color: #aaf;
}

#content td {
    background-color: #ddf;
}

.Java pre {
    padding: 4px;
    font-family: courier new, monospace;
    font-size: 11px;
    border: 1px solid #880;
    background-color: #ffc;
    color: black;
}

/* The following are for images, but can also apply to div's containing images. */

#content .Float {
	float: right;
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#content .Diagram {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}


#content .Inline {
	display: inline;
}


/*---------------------------------------------------------------------------
 *  Side panels
 */

.SidePanel {
    background-color: white;
    padding: 0px;
    font-size: 11px;
}

.SidePanel h1 {
    margin: 0px;
    border: 0px;
    padding: 4px;
    
    color: #006;
    
    font-size: 12px;
    font-weight: bold;
}


.SidePanel a { text-decoration: none; }
.SidePanel a:link { color: #006; }
.SidePanel a:visited { color: #006; }
.SidePanel a:active { color: red; }
.SidePanel a:hover { color: red; }

/*---------------------------------------------------------------------------
 *  Menus
 */

.MenuGroup {
    border-left: 1px solid #aaf;
    border-top: 1px solid #aaf;
    border-bottom: 1px solid white; /* IE work-around */
    
    margin-bottom: 8px;
    background-color: white;
    color: #006;
}

.MenuGroup ul {
    margin: 0px;
    padding-left: 4px;
    list-style-type: none;
}

.MenuGroup li {
    padding: 2px;
}


/*---------------------------------------------------------------------------
 *  News panel
 */

.NewsGroup {
    border-left: 1px solid #aaf;
    border-top: 1px solid #aaf;
    border-bottom: 1px solid white; /* IE workaround */
    margin-bottom: 8px;
    
    color: #006;
}

.NewsItem {
    margin: 4px;
}

.NewsDate {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.NewsText {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

.NewsText a { text-decoration: underline; }
.NewsText a:link { color: #006; }
.NewsText a:visited { color: #006; }
.NewsText a:active { color: red; }
.NewsText a:hover { color: red; }

.NewsMore {
    font-weight: bold;
    margin: 4px;
    text-align: right
}
